body {
    background-color: whitesmoke;
    height: 100vh;
    font-family: "Lato", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: initial;
}

main {
    background-color: white;
    width: 805px;
    min-height: 400px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 30px 18px -24px;
    position: relative;
    overflow: hidden;
}

.fondo {
    position: absolute;
    overflow: hidden;
    bottom: -20%;
    left: -20%;
    height: 150%;
    transform: rotate(5deg);
}

.fondo img {
    filter: blur(6px);
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: scale(1.4);
}


#detalles {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 80%;
    padding-right: 24px;
    padding-left: 50px;
}

#placeholder {
    height: 18px;
    border: 1px solid gainsboro;
    font-family: sans-serif;
    font-size: 16px;
    border-radius: 2px;
    align-self: flex-end;
    margin-top: 22px;
    margin-bottom: 35px;
}

input {
    padding: 6px
}

#movie-card {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: space-around;
    justify-content: left;
    width: 100%;
    height: 450px;
    max-width: 800px;
    background: white;
    margin: 12px;
    box-shadow: (0, 0, 0, 0.2) 0.30px 18;
    border-radius: 15px
}

#poster {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end   
}

#poster .imagen{
    width: 145px;
    height: 215px;
    z-index: 1;
}

.title {
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bold;
}

.tags {
    font-family: sans-serif;
    font-size: 0.7em;
    color: grey;
    margin: 15px;
    margin-left: 45px
}

.plot {
    font-family: sans-serif;
    font-size: 0.9em;
    line-height: 1.5
}

.credits {
    font-family: sans-serif;
    font-size: 0.95em;
    line-height: 1.5
}

